h1{
    text-align: center;
    color: black;
    font-size: 30px;
}
#mostrar-pokemons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.container-pokemon{    
    color: beige;
    background-color: black;
    margin: 16px;
}
.container-pokemon:hover{
    background-color: blue;
    cursor: pointer;
}
.nombrePokemon{
    padding: 16px;
}
#DetallePokemon{
    display: flex;    
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
   
}
