body{
    background-color: antiquewhite;
    width: 100%;
}
#mostrarPeliculas{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;    
   
    
}
 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
    color: crimson;
    font-size: 2rem;
}

.title-peli{
    font-size:23px; font-weight:regular;
}

.contenedor-pelis{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}
.img-peli{
    border-radius:2rem;
}